<!-- navbar.component.html -->
<nav class="bg-gray-900 text-white py-4">
  <div class="container mx-auto flex justify-between items-center px-4">
    <!-- Logo -->
    <div class="logo">
      <a href="/" class="text-xl font-bold flex items-center">
        <img src="assets/logo.png" alt="Logo" class="h-14 w-14 mr-2">
       AMI UHA
      </a>
    </div>
   
  
      <!-- Menu (mobile et desktop) -->
      <div class="hidden md:flex space-x-10">
        <a href="/" class="text-white hover:text-blue-300">Accueil</a>
        <a href="/membres" class="text-white hover:text-blue-300">Membres</a>
        <a href="/contact" class="text-white hover:text-blue-300">Contact</a>
         <!-- User Icon -->
         <a href="/login"> <button class="w-8 h-6 rounded-full bg-gray-800 flex items-center justify-center hover:bg-gray-700 transition-colors" >
        <svg xmlns="http://www.w3.org/2000/svg" 
             class="h-5 w-5" 
             viewBox="0 0 20 20" 
             fill="currentColor">
          <path fill-rule="evenodd" 
                d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" 
                clip-rule="evenodd" />
        </svg>
      </button>
    </a>
      </div>
  
      
    </div>
</nav>