<header class="bg-gray-900 text-white py-4">
    <nav class="container mx-auto flex justify-between items-center px-4">
      <div class="logo">
        <a routerLink="/" class="text-xl font-bold">Les IM FST</a>
      </div>
      <ul class="flex space-x-6">
        <li>
          <button routerLink="/accueil" class="text-white bg-transparent">Accueil</button>
        </li>
        <li>
          <button routerLink="/membres" class="text-white bg-transparent">Membres</button>
        </li>
        <li>
          <button routerLink="/contact" class="text-white bg-transparent">Contact</button>
        </li>
      </ul>
      
    </nav>
  </header>