
  
  <!-- membres.component.html -->
  <div class="container mx-auto px-4 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
      <!-- Premier membre -->
      <div class="flex flex-col items-center">
        <div class="mb-4">
          <img src="assets/teams.jpg" alt="Assil DEKHIL" class="rounded-full w-32 h-32">
        </div>
        <h3 class="text-xl font-bold">Assil DEKHIL</h3>
        <p class="text-gray-600 text-sm">chef créatif</p>
        <p class="text-gray-500 text-sm text-center mt-2 max-w-xs">
          Gled amet urna libero molestie ante ut lingua porta erat quis quis geted thom 
          dolor amet quam lorem labeo duam.
        </p>
        <button class="bg-gray-800 text-white px-4 py-2 rounded mt-4">
          En savoir plus
        </button>
      </div>
  
      <!-- Deuxième membre -->
      <div class="flex flex-col items-center">
        <div class="mb-4">
          <img src="assets/teams.jpg" alt="Ridouane ANNOUN" class="rounded-full w-32 h-32">
        </div>
        <h3 class="text-xl font-bold">Ridouane ANNOUN</h3>
        <p class="text-gray-600 text-sm">géofree de la programmation</p>
        <p class="text-gray-500 text-sm text-center mt-2 max-w-xs">
          Gled amet urna libero molestie ante ut lingua porta erat quis quis geted thom 
          dolor amet quam lorem labeo duam.
        </p>
        <button class="bg-gray-800 text-white px-4 py-2 rounded mt-4">
          En savoir plus
        </button>
      </div>
  
      <!-- Troisième membre -->
      <div class="flex flex-col items-center">
        <div class="mb-4">
          <img src="assets/teams.jpg" alt="Sofiane VAILLON" class="rounded-full w-32 h-32">
        </div>
        <h3 class="text-xl font-bold">Sofiane VAILLON</h3>
        <p class="text-gray-600 text-sm">directeur commercial</p>
        <p class="text-gray-500 text-sm text-center mt-2 max-w-xs">
          Gled amet urna libero molestie ante ut lingua porta erat quis quis geted thom 
          dolor amet quam lorem labeo duam.
        </p>
        <button class="bg-gray-800 text-white px-4 py-2 rounded mt-4">
          En savoir plus
        </button>
      </div>

      <div class="flex flex-col items-center">
        <div class="mb-4">
          <img src="assets/teams.jpg" alt="Rochan" class="rounded-full w-32 h-32">
        </div>
        <h3 class="text-xl font-bold">Rochan</h3>
        <p class="text-gray-600 text-sm">directeur </p>
        <p class="text-gray-500 text-sm text-center mt-2 max-w-xs">
          Gled amet urna libero molestie ante ut lingua porta erat quis quis geted thom 
          dolor amet quam lorem labeo duam.
        </p>
        <button class="bg-gray-800 text-white px-4 py-2 rounded mt-4">
          En savoir plus
        </button>
      </div>

    </div>
  </div>