<!-- login.component.html -->
<div class="login-container">
    <nav class="navbar">
      <div class="logo">Les IM FST</div>
      <div class="nav-links">
        <a href="#">Accueil</a>
        <a href="#">Membres</a>
        <a href="#">Contact</a>
        <a href="#" class="profile-icon">
          <i class="fas fa-user-circle"></i>
        </a>
      </div>
    </nav>
  
    <div class="login-box">
      <form  >
        <div class="form-group">
          <input
            type="text"
            formControlName="username"
            placeholder="Identifiant"
            class="form-control"
          >
        </div>
  
        <div class="form-group">
          <div class="password-input">
            <input
              
              class="form-control"
            >
            <!--<i
              [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
              
            ></i>-->
          </div>
        </div>
  
        <button type="submit" class="btn-connect">SE CONNECTER</button>
  
        <div class="forgot-password">
          <a href="#">Mot de passe oublié ?</a>
          <a href="#">Créer un compte</a>
        </div>
      </form>
    </div>
  
    <footer>
      <div class="footer-section">
        <h4>NOS PARTENAIRES</h4>
        <p>Université de Haute Alsace</p>
        <p>Mairie de Mulhouse</p>
      </div>
      <div class="footer-section">
        <h4>NOS RESEAUX</h4>
        <div class="social-icons">
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
      <div class="footer-section">
        <h4>CONTACT</h4>
        <p>Université de Haute Alsace</p>
        <p>contact.association-imfst-mulhouse.fr</p>
        <p>Mentions légales</p>
      </div>
    </footer>
  </div>
  ﻿
  