
  
  <!-- hero.component.html -->
  <section class="container mx-auto py-12 px-4">
    <div class="flex items-center gap-8">
      <div class="w-1/2">
        <img src="assets/teams.jpg" alt="Collaboration" class="rounded-full" width="500">
      </div>
      <div class="calendar">
        <p class="text-lg">
          Le parcours IM de UHA est co-accrédité avec l'Université de Strasbourg. 
          Il est dispensé à Mulhouse sur le campus de l'Ilberg de l'Université de Haute-Alsace. 
          Il est destiné aux étudiants désirant développer leurs connaissances informatiques 
          avec un axe fort sur la mobilité et la programmation
        </p>
      </div>
    </div>
  </section>
  
  <!-- info-section.component.html -->
  <section class="container mx-auto py-12 px-4">
    <div class="grid grid-cols-2 gap-12">
      <div>
        <h2 class="text-2xl font-bold mb-6">1. Qui sommes nous ?</h2>
        <p class="text-gray-700">
          Nous sommes une team d'étudiants issus de M1 au M2 IM et IMIS. 
          Cette association est pour nous l'occasion de créer de la cohésion 
          au sein des différentes promotions d'étudiants.
        </p>
        <p class="text-gray-700 mt-4">
          Cela passe par l'organisation d'événements professionnels, des sorties, 
          soirées etc. Notre lien direct avec la IM Connection, une association 
          fédérant les associations telles que la nôtre, permet à nos étudiants 
          de profiter de la force d'un réseau français aussi puissant que celui de la IM !
        </p>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-6">2. Insertion professionnelle ?</h2>
        <p class="text-gray-700">
          Insertion professionnelle en proposant des ateliers pratiques, 
          des opportunités de réseautage avec des professionnels et des 
          offres de stage ou d'emploi.
        </p>
        <p class="text-gray-700 mt-4">
          Nous aidons également les étudiants à développer des compétences 
          transversales comme la gestion de projet et la communication, 
          valorisables sur un CV.
        </p>
        <p class="text-gray-700 mt-4">
          Enfin, nous offrons un accompagnement personnalisé pour guider 
          les jeunes dans leur parcours professionnel.
        </p>
      </div>
    </div>
  </section>
  